<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MYPC test">

<test name="Somke test">

<classes>

<class name="POM.LoginTestCase"/>

<class name="POM.AdminTest"/>

<class name="POM.UserTest"/>

<class name="POM.LocationTestCase"/>

<class name="POM.RoomTestCase"/>

<class name="POM.DeskTestCase"/>

<class name="POM.ComputerTestCase"/>

<class name="POM.Reserve_Room_TestCase"/>

<class name="POM.Reserve_Desk_TestCase"/>

<class name="POM.Reserve_Computer_TestCase"/>

<class name="POM.Tools_TestCase"/>

<class name="POM.UserTest"/>

<class name="POM.ComputerTestCase"/>

<class name="CreatingTags.DeskTags_TestCase"/>

<class name="CreatingTags.RoomTags_TestCase"/>

<class name="CreatingTags.UserTagsTestCase"/>

<class name="CreatingTags.ComputerTestCase"/>

<class name="BookingRulesTags.DeskTestCase"/>

<class name="BookingRulesTags.RoomTestCase"/>

<class name="BookingRulesTags.UsersTestCase"/>
<class name="BookingRulesTags.ComputersTestCase"/>

<class name="BookingRulesTestCase.DeskProfileTestCase"/>

<class name="BookingRulesTestCase.DeskTestCase"/>

<class name="BookingRulesTestCase.RoomBookingTestCase"/>

<class name="BookingRulesTestCase.RoomTestCase"/>

<class name="Admin_Policy_TestCase.AdminPolicyTestCase"/>

<class name="Admin_Policy_TestCase.AutomationTags"/>





<class name="POM.Sign_IN_TestCase"/>


</classes>

</test>

</suite>






