<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MYPC test">

<test name="Somke test">

<classes>

<class name="POM.LoginTestCase"/>

<class name="POM.AdminTest"/>

<class name="POM.UserTest"/>

<class name="POM.LocationTestCase"/>

<class name="POM.RoomTestCase"/>

<class name="POM.DeskTestCase"/>

<class name="POM.ComputerTestCase"/>

<class name="POM.Reserve_Room_TestCase"/>

<class name="POM.Reserve_Desk_TestCase"/>

<class name="POM.Reserve_Computer_TestCase"/>

<class name="POM.Tools_TestCase"/>

<class name="POM.UserTest"/>

<class name="POM.ComputerTestCase"/>

<class name="POM.DeskTags_TestCase"/>

<class name="POM.Desktags2TestCase"/>

<class name="POM.RoomTags_TestCase"/>

<class name="UsersTagsTestCase"/>

<class name="POM.ComputersTestCase"/>

<class name="POM.DeskTestCase"/>

<class name="POM.ROomTestCase"/>

<class name="POM.UsersTestCase"/>

<class name="POM.DeskProfileTestCase"/>

<class name="POM.DeskTestCase"/>

<class name="POM.RoomBookingTestCase"/>

<class name="POM.RoomTestCase"/>

<class name="POM.AdminPolicyTestCase"/>

<class name="POM.AutomationTags"/>





<class name="POM.Sign_IN_TestCase"/>


</classes>

</test>

</suite>






